burst_id: hamilton
input_data_path: ${FLITS_ROOT}/scintillation/data/hamilton.npz
telescope: dsa
analysis:
  rfi_masking:
    find_burst_thres: 8.0
    padding_factor: 0.0
    use_symmetric_noise_window: true
    rfi_downsample_factor: 16
    enable_time_domain_flagging: false
    time_threshold_sigma: 7.0
    freq_threshold_sigma: 5.0
    manual_burst_window:
    - 1249
    - 1264
    manual_noise_window:
    - 0
    - 1167
  acf:
    num_subbands: 4
    max_lag_mhz: 200.0
    use_snr_subbanding: true
    enable_intra_pulse_analysis: true
    intra_pulse_time_bins: 8
  fitting:
    fit_lagrange_mhz: 25.0
    reference_frequency_mhz: 1400.0
    force_model: fit_2c_lor
    init_guess:
      2c_lor:
        reference_frequency_mhz: 1342.4898258180042
        components:
        - name: component_1
          gamma_guess: 0.2158
          gamma_scaling_index: 3.8
          m_guess: 0.1891
        - name: component_2
          gamma_guess: 12.6837
          gamma_scaling_index: 6.0
          m_guess: 0.1279
        constants:
          c2: -0.007
  baseline_subtraction:
    enable: true
    poly_order: 1
  noise:
    disable: false
    disable_template: false
    template_n_draws: 25
  self_noise:
    disable: true
  stored_fits:
    subband_0:
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1340.872130880677
        best_fit_params:
          l_1_gamma:
            value: 0.06000000000423289
            stderr: 0.0
          l_1_m:
            value: 0.7621941764374129
            stderr: 0.0
          l_2_gamma:
            value: 0.7320897234201003
            stderr: 0.0
          l_2_m:
            value: 0.47061364509324166
            stderr: 0.0
          c_c:
            value: 0.056602841639495076
            stderr: 0.0
        redchi: 1.1090891807782746
        bic: 166.4082290665146
        fit_range_mhz:
        - -19.98
        - 20.02
      Lorentzian:
        reference_frequency_mhz: 1340.872130880677
        best_fit_params:
          l_1_gamma:
            value: 0.4255878641652475
            stderr: 0.09402654203252063
          l_1_m:
            value: 0.6366134768562608
            stderr: 0.046759933283890165
          c_c:
            value: 0.05558152347791548
            stderr: 0.009821991283670058
        redchi: 1.0491211199904618
        bic: 40.8494137396128
        fit_range_mhz:
        - -7.98
        - 8.02
      Lorentzian+Gaussian:
        reference_frequency_mhz: 1340.872130880677
        best_fit_params:
          l_1_gamma:
            value: 0.060000000693333444
            stderr: 0.006254890347758254
          l_1_m:
            value: 0.7664540841627818
            stderr: 0.16685794494421993
          g_2_sigma:
            value: 0.6545498900654272
            stderr: 0.16162614547270163
          g_2_m:
            value: 0.4592895520496476
            stderr: 0.0686576021873905
          c_c:
            value: 0.0618664912499731
            stderr: 0.008245635107090853
        redchi: 1.0549593610410375
        bic: 62.386794411941146
        fit_range_mhz:
        - -9.98
        - 10.02
      Gen-Lorentz+Lorentzian:
        reference_frequency_mhz: 1340.872130880677
        best_fit_params:
          lg_1_gamma:
            value: 0.8039731340782224
            stderr: 0.5195631723844364
          lg_1_alpha:
            value: 0.10000000082974161
            stderr: 0.27950172696604153
          lg_1_m:
            value: 0.46954271229469424
            stderr: 0.147825436727464
          l_2_gamma:
            value: 0.0600000000103178
            stderr: 0.011124258340280144
          l_2_m:
            value: 0.7700431531023615
            stderr: 0.16507743335113137
          c_c:
            value: 0.05031066615405265
            stderr: 0.01724613689797352
        redchi: 1.036090266455738
        bic: 50.06538956494552
        fit_range_mhz:
        - -7.98
        - 8.02
    subband_1:
      Lorentzian:
        reference_frequency_mhz: 1434.6373921536708
        best_fit_params:
          l_1_gamma:
            value: 0.2535270619358476
            stderr: 0.042987110962786367
          l_1_m:
            value: 1.3300923915564447
            stderr: 0.08096915899393693
          c_c:
            value: 0.3779398674284616
            stderr: 0.023731321421616214
        redchi: 0.8742464326363187
        bic: -54.51742324681412
        fit_range_mhz:
        - -7.98
        - 8.02
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1434.6373921536708
        best_fit_params:
          l_1_gamma:
            value: 15.41969276636726
            stderr: 4.342042654584543
          l_1_m:
            value: 0.9270034752697056
            stderr: 0.10881079726361384
          l_2_gamma:
            value: 0.22469438139584574
            stderr: 0.044556756698612435
          l_2_m:
            value: 1.3305457462913677
            stderr: 0.09179822812070114
          c_c:
            value: -0.41994192427201804
            stderr: 0.22058300670336195
        redchi: 0.9683083184469705
        bic: -11.280473531333769
        fit_range_mhz:
        - -19.98
        - 20.02
      Gen-Lorentz+Lorentzian:
        reference_frequency_mhz: 1434.6373921536708
        best_fit_params:
          lg_1_gamma:
            value: 0.06000000137228101
            stderr: 0.01926369147117629
          lg_1_alpha:
            value: 0.10000128626243071
            stderr: 4.384934386044102
          lg_1_m:
            value: 0.8849599125186987
            stderr: 2.9229631524646025
          l_2_gamma:
            value: 0.31755825596199405
            stderr: 0.23771722148363753
          l_2_m:
            value: 1.1673409476277516
            stderr: 1.0640195058089281
          c_c:
            value: 0.37339088127275705
            stderr: 0.026008280816685218
        redchi: 0.8779401757687657
        bic: -36.5596728226321
        fit_range_mhz:
        - -7.98
        - 8.02
pipeline_options:
  downsample:
    f_factor: 1
    t_factor: 1
  log_level: INFO
  save_intermediate_steps: true
  force_recalc: true
  output_plot_path: ${FLITS_ROOT}/scintillation/plots/hamilton/hamilton_analysis_overview.png
  cache_directory: ${FLITS_ROOT}/scintillation/data/cache/hamilton/
  halt_after_acf: true
  diagnostic_plots:
    enable: true
    directory: ${FLITS_ROOT}/scintillation/plots/diagnostics
