burst_id: isha
input_data_path: ${FLITS_ROOT}/scintillation/data/isha.npz
telescope: dsa
analysis:
  rfi_masking:
    find_burst_thres: 8.0
    padding_factor: 0.0
    use_symmetric_noise_window: true
    rfi_downsample_factor: 16
    enable_time_domain_flagging: false
    time_threshold_sigma: 7.0
    freq_threshold_sigma: 5.0
    manual_burst_window:
    - 1249
    - 1261
    manual_noise_window:
    - 0
    - 624
  acf:
    num_subbands: 2
    max_lag_mhz: 200.0
    use_snr_subbanding: true
    enable_intra_pulse_analysis: true
    intra_pulse_time_bins: 8
  fitting:
    fit_lagrange_mhz: 25.0
    reference_frequency_mhz: 1400.0
    force_model: fit_2c_lor
    init_guess:
      2c_lor:
        reference_frequency_mhz: 1342.4898258180042
        components:
        - name: component_1
          gamma_guess: 0.2158
          gamma_scaling_index: 3.8
          m_guess: 0.1891
        - name: component_2
          gamma_guess: 12.6837
          gamma_scaling_index: 6.0
          m_guess: 0.1279
        constants:
          c2: -0.007
  baseline_subtraction:
    enable: true
    poly_order: 1
  noise:
    disable: false
    disable_template: false
    template_n_draws: 25
  self_noise:
    disable: true
  stored_fits:
    subband_0:
      Lorentzian:
        reference_frequency_mhz: 1361.6427234250366
        best_fit_params:
          l_1_gamma:
            value: 0.06000000218510482
            stderr: 0.011669646013182143
          l_1_m:
            value: 1.2271972034628051
            stderr: 0.43329963813148364
          c_c:
            value: -0.01708524558518707
            stderr: 0.023258445437529304
        redchi: 1.0139194191309295
        bic: 36.638605025675716
        fit_range_mhz:
        - -19.999462803190553
        - 20.000537196809447
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1361.65798469803
        best_fit_params:
          l_1_gamma:
            value: 0.06002542652500198
            stderr: 1.1938670587875914e+21
          l_1_m:
            value: 0.0003962937018398005
            stderr: 5.80760903030365e+18
          l_2_gamma:
            value: 0.06002542621593743
            stderr: 1.193852448057948e+21
          l_2_m:
            value: 0.00039629392049089773
            stderr: 5.79957312295122e+18
          c_c:
            value: -0.006817681495823744
            stderr: 0.045284339710860405
        redchi: 0.9472065743422882
        bic: 11.549652584304633
        fit_range_mhz:
        - -10.04
        - 9.96
      Gen-Lorentz:
        reference_frequency_mhz: 1361.6427234250366
        best_fit_params:
          lg_1_gamma:
            value: 0.060000000004496234
            stderr: 0.00018537818646501545
          lg_1_alpha:
            value: 5.9999999948417075
            stderr: 333.8975469674164
          lg_1_m:
            value: 1.2723710302222386
            stderr: 0.229627239905019
          c_c:
            value: -0.014643637621486955
            stderr: 0.0230591048718995
        redchi: 1.0126390256157793
        bic: 41.15837430240655
        fit_range_mhz:
        - -19.999462803190553
        - 20.000537196809447
    subband_1:
      Lorentzian:
        reference_frequency_mhz: 1455.4079846980303
        best_fit_params:
          l_1_gamma:
            value: 0.5954312559567765
            stderr: 0.2953955376116302
          l_1_m:
            value: 0.6906882130172689
            stderr: 0.11651568893452736
          c_c:
            value: -0.029988731186668314
            stderr: 0.019890665073048566
        redchi: 0.9501916180095119
        bic: -48.40010426167188
        fit_range_mhz:
        - -19.999462803190553
        - 20.000537196809447
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1455.4232459710238
        best_fit_params:
          l_1_gamma:
            value: 1.0886130730656989
            stderr: 8179822.73790125
          l_1_m:
            value: 0.3330434022481654
            stderr: 5365728061.204118
          l_2_gamma:
            value: 1.0891054768692632
            stderr: 3721808.906452887
          l_2_m:
            value: 0.47862555766167447
            stderr: 3733653378.47401
          c_c:
            value: -0.025562078098610126
            stderr: 0.04896216288551437
        redchi: 0.9440713683687844
        bic: 11.009235937700328
        fit_range_mhz:
        - -10.04
        - 9.96
pipeline_options:
  downsample:
    f_factor: 1
    t_factor: 1
  log_level: INFO
  save_intermediate_steps: true
  force_recalc: true
  output_plot_path: ${FLITS_ROOT}/scintillation/plots/isha/isha_analysis_overview.png
  cache_directory: ${FLITS_ROOT}/scintillation/data/cache/isha/
  halt_after_acf: true
  diagnostic_plots:
    enable: true
    directory: ${FLITS_ROOT}/scintillation/plots/diagnostics
