burst_id: mahi
input_data_path: ${FLITS_ROOT}/scintillation/data/mahi.npz
telescope: dsa
analysis:
  rfi_masking:
    find_burst_thres: 8.0
    padding_factor: 0.0
    use_symmetric_noise_window: true
    rfi_downsample_factor: 16
    enable_time_domain_flagging: false
    time_threshold_sigma: 7.0
    freq_threshold_sigma: 5.0
    manual_burst_window:
    - 1253
    - 1275
    manual_noise_window:
    - 0
    - 1210
  acf:
    num_subbands: 3
    max_lag_mhz: 200.0
    use_snr_subbanding: true
    enable_intra_pulse_analysis: true
    intra_pulse_time_bins: 8
  fitting:
    fit_lagrange_mhz: 25.0
    reference_frequency_mhz: 1400.0
  baseline_subtraction:
    enable: true
    poly_order: 1
  noise:
    disable: false
    disable_template: false
    template_n_draws: 25
  self_noise:
    disable: true
  stored_fits:
    subband_0:
      Lorentzian:
        reference_frequency_mhz: 1405.0
        best_fit_params:
          l_1_gamma:
            value: 1.6814146687222555
            stderr: 0.3079321990617767
          l_1_m:
            value: 0.9526796860935309
            stderr: 0.05376644891646538
          c_c:
            value: -0.12127286061082196
            stderr: 0.0248166837733455
        redchi: 0.8753086059107839
        bic: -155.93427178010785
        fit_range_mhz:
        - -19.97
        - 20.03
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1405.0
        best_fit_params:
          l_1_gamma:
            value: 0.060000000210506554
            stderr: 0.05275330167397866
          l_1_m:
            value: 1.1096627242068395
            stderr: 0.4213867394042755
          l_2_gamma:
            value: 1.88876196088698
            stderr: 0.5353382672824614
          l_2_m:
            value: 0.8851848640295674
            stderr: 0.07229982245103286
          c_c:
            value: -0.1182990937981675
            stderr: 0.05156071053762675
        redchi: 0.8908196917208301
        bic: -48.21473214389931
        fit_range_mhz:
        - -9.97
        - 10.03
pipeline_options:
  downsample:
    f_factor: 1
    t_factor: 1
  log_level: INFO
  save_intermediate_steps: false
  force_recalc: true
  output_plot_path: ${FLITS_ROOT}/scintillation/plots/mahi/mahi_analysis_overview.png
  cache_directory: ${FLITS_ROOT}/scintillation/data/cache/mahi/
  halt_after_acf: true
  diagnostic_plots:
    enable: true
    directory: ${FLITS_ROOT}/scintillation/plots/diagnostics
