burst_id: oran
input_data_path: ${FLITS_ROOT}/scintillation/data/oran.npz
telescope: dsa
analysis:
  rfi_masking:
    find_burst_thres: 8.0
    padding_factor: 0.0
    use_symmetric_noise_window: true
    rfi_downsample_factor: 16
    enable_time_domain_flagging: false
    time_threshold_sigma: 7.0
    freq_threshold_sigma: 5.0
    manual_burst_window:
    - 1244
    - 1268
    manual_noise_window:
    - 0
    - 624
  acf:
    num_subbands: 2
    max_lag_mhz: 200.0
    use_snr_subbanding: true
    enable_intra_pulse_analysis: true
    intra_pulse_time_bins: 8
  fitting:
    fit_lagrange_mhz: 25.0
    reference_frequency_mhz: 1400.0
  baseline_subtraction:
    enable: true
    poly_order: 1
  noise:
    disable: false
    disable_template: false
    template_n_draws: 25
  self_noise:
    disable: true
  stored_fits:
    subband_0:
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1341.8335910792773
        best_fit_params:
          l_1_gamma:
            value: 0.22741293931477502
            stderr: 0.0881359440560479
          l_1_m:
            value: 0.6416533607502675
            stderr: 0.0618035068410595
          l_2_gamma:
            value: 68.45343666943523
            stderr: 142608.27113974316
          l_2_m:
            value: 8.90290926229286
            stderr: 18529.647216172387
          c_c:
            value: -78.52624054327522
            stderr: 329828.8204901428
        redchi: 0.8254220238973007
        bic: -5.702882769717348
        fit_range_mhz:
        - -2.04
        - 1.96
      Lorentzian:
        reference_frequency_mhz: 1341.8335910792773
        best_fit_params:
          l_1_gamma:
            value: 0.267827982500344
            stderr: 0.058666835486905315
          l_1_m:
            value: 0.6628077586954679
            stderr: 0.04286130478566125
          c_c:
            value: 0.6967250233478364
            stderr: 0.018443999424159502
        redchi: 0.8208167846883563
        bic: -14.101750195331206
        fit_range_mhz:
        - -2.04
        - 1.96
    subband_1:
      Lorentzian:
        reference_frequency_mhz: 1435.598852352271
        best_fit_params:
          l_1_gamma:
            value: 0.57672492686231
            stderr: 0.12055634030088172
          l_1_m:
            value: 1.0248847264920418
            stderr: 0.04966888787698535
          c_c:
            value: 0.5256418122500611
            stderr: 0.07922690539858883
        redchi: 0.9701368587239864
        bic: 7.626089655768857
        fit_range_mhz:
        - -2.04
        - 1.96
      Lorentzian+Lorentzian:
        reference_frequency_mhz: 1435.598852352271
        best_fit_params:
          l_1_gamma:
            value: 0.538650963926099
            stderr: 0.19528609481083806
          l_1_m:
            value: 0.993218064920028
            stderr: 0.12282831488145256
          l_2_gamma:
            value: 51.357929288775374
            stderr: 31038.843408109227
          l_2_m:
            value: 6.659862513930708
            stderr: 4008.1152712830717
          c_c:
            value: -43.75939862616291
            stderr: 53350.61059895752
        redchi: 0.9273826594289897
        bic: 6.59892192063106
        fit_range_mhz:
        - -3.04
        - 2.96
pipeline_options:
  downsample:
    f_factor: 1
    t_factor: 1
  log_level: INFO
  save_intermediate_steps: true
  force_recalc: true
  output_plot_path: ${FLITS_ROOT}/scintillation/plots/oran/oran_analysis_overview.png
  cache_directory: ${FLITS_ROOT}/scintillation/data/cache/oran/
  halt_after_acf: true
  diagnostic_plots:
    enable: true
    directory: ${FLITS_ROOT}/scintillation/plots/diagnostics
